*.tga
*.dds
*.texture
*.modeldb
*.bin
*.cas
*.CAS
*.mesh
*.bik
*.dat
*.evt
*.idx
*.db
*.cfg
*.sav
*.ico
*.anim*
*.debugdata
*.lighting
*.world*
*.wfc
*.tmp
*.bat
*.exe
*.jpg
*.bits
*.cmi
*.sd
*.spr
*.veg_sprite
*.gif
*.bits*
*.model*
*.lnt
*.ani
*.skel
*.mtl
*.sprite
*.vege_model
*.vege_sprite*